.footer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2rem 0;
}
.footer__links{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.footer__copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}